.header
	//height 100px
	background white
	display flex
	flex-wrap wrap
	flex-direction row
	justify-content space-between
	//background-image url('../img/services/Mobile/banner_service.jpg')
	background-size cover
	&-txt
		display flex
		flex-direction row
		&-button
			left 20px
			top 20px
			height 30px
			width 30px
		&-titulos
			font-family 'Titulos'
			display flex
			flex-direction column
			margin-left 60px
			h1
				color $CelesteText
				margin 15px 15px 0px 15px
				//font-size 100%
			h4
				color $GrisText
				margin-left 15px
				//font-size 200%
				span
					color $VerdeText
		
