@import ('./normalize.css')
@import ('./reset')


/*TEXTOS*/
$CelesteText = #04BAEE
$VerdeText = #C0D356
$GrisText = #9C9B9B
$PlaceholderText = #EDEDED
$FooterText = #FFF

/*DESKTOP, TABLETS Y CELULARES*/
$Celeste = #04BAEE
$Gris = #727272
@font-face 
  font-family 'Titulos'
  src url('../fonts/Geomanist-Regular.otf') 
@font-face
	font-family 'Titulos-Textos'
	src url('../fonts/Junction-bold.otf')
@font-face
	font-family 'Textos'
	src url('../fonts/Junction-light.otf')

body
	font-family 'Titulos'
	font-size 16px
	margin 0 auto
	color white
	.global
		@import 'header.styl'