@import ('./normalize.css')
@import ('./reset')


/*TEXTOS*/
$CelesteText = #04BAEE
$VerdeText = #C0D356
$AquaText = #0080FF
$GrisText = #9C9B9B
$PlaceholderText = #EDEDED
$FooterText = #FFF

/*DESKTOP, TABLETS Y CELULARES*/
$Celeste = #04BAEE
$Gris = #727272
@font-face 
  font-family 'Titulos'
  src url('../fonts/Geomanist-Regular.otf') 
@font-face
	font-family 'Titulos-Textos'
	src url('../fonts/Junction-bold.otf')
@font-face
	font-family 'Textos'
	src url('../fonts/Junction-light.otf')
body
	font-family 'Titulos'
	font-size 16px
	margin 0 auto
	color white
	.global
		.header
			position fixed
			z-index 10
			top 0
			left 0
			width 100vw
			height 60px
			background white 
			display flex
			flex-wrap wrap
			flex-direction row
			justify-content space-between
			background-image url('../img/banner_team_mobile.jpg')
			background-size cover
			&-txt
				display flex
				flex-direction row
				&-button
					width 30px
					height 30px
					margin 11px 10px
				&-titulos
					font-family 'Titulos'
					font-size 15px
					display flex
					flex-direction column
					h1
						color $CelesteText
						font-size 28px
						margin 8px 15px 3px 15px
					h4
						color $GrisText
						margin-left 15px
						span
							color #ADCA1E
						
				&-logo
					display none
			.Menu-lista
				z-index 2
				width 100vw
				height 100vh
				position absolute
				top 0
				left -100vw
				background-color black
				opacity .8
				transition left 0.3s ease-in
				text-align center
				display flex
				flex-direction column
				
				&.active
					left 0
				.cerrar
					align-self flex-end
					margin 3vh 20vw 0vh 0vw
				.flex-menu
					list-style none
					img
						margin 3vh 0vw 0vh 0vw
						width 50%
					&-item
						font-family 'Titulos'
						margin 0 20vw
						font-size 20px
						text-align center
						height 80px
						line-height 80px
						border-bottom: solid 1px white
						&-link
							color $VerdeText
							text-decoration none !important
							display block
		.content
			position relative
			//top 60px
			margin-top 60px
			width 100vw
			height 100vh
			transition all .9s ease-in
			&.active
				filter: blur(20px); 
				-webkit-filter: blur(20px); 
				-moz-filter: blur(20px);
				-o-filter: blur(20px);
				-ms-filter: blur(20px);
			&-text
				&-efecto
					//position absolute
					//top 0px
					position relative
					width 100vw
					text-align center
					display flex
					flex-direction row
					flex-wrap wrap
					&-encima
						width 70vw
						margin 0vh 15vw
						.titulo
							font-weight bold
							font-size 30px
							margin 1rem 0
							text-transform uppercase
							color $VerdeText
						.texto
							line-height 1.6em
							padding 1rem
							color black
					&-team
						display flex
						flex-direction row
						flex-wrap wrap
						width 70vw
						margin 0vh 15vw
						&-item
							height auto
							width 35vw
							margin-top 1px
							img
								width 35vw
							&-info
								display none
		footer
			text-align center
			border-top solid 10px $CelesteText
			width 100vw
			position relative
			left 0
			bottom 0
			height 150px	
			background $Gris
			display flex
			flex-direction column
			flex-wrap wrap
			justify-content space-around								
@media (min-width:768px)
	body
		.global
			.header
				width 100vw
				height 100px
				background white
				display flex
				flex-wrap wrap
				flex-direction row
				justify-content space-between
				background-image url('../img/banner_team_tablet.jpg')
				background-size cover
				&-txt
					display flex
					flex-direction row
					&-button
						display none
					&-titulos
						font-family 'Titulos'
						display flex
						flex-direction column
						h1
							color $CelesteText
							margin 20px 15px 10px 15px
						h4
							color $GrisText
							margin-left 15px
							span
								color $VerdeText
							
					&-logo
						display inline
						margin-left 20px
						margin-top 20px
						width 90px
						height 60px
						padding 0 15px 0 0
						border-right solid 2px $GrisText
				.Menu-lista
					background transparent
					position static
					width auto
					height auto
					opacity 1
					.cerrar
						display none
					.flex-menu
						img
							display none
						&-item
							display inline-block
							font-family 'Titulos'
							margin 0
							padding 0vw 3vw
							margin 25px 0vh
							font-size 16px
							height 30px
							line-height 30px
							border-bottom 0px
							border-right solid 1px $VerdeText
						&-item:nth-child(5)
							border-right 0px
							&-link
								color $VerdeText
								text-decoration none !important
								display block
			.content
				position relative
				margin-top 120px
				width 100vw
				height 100vh
				transition all .9s ease-in
				&.active
					filter: blur(20px);
					-webkit-filter: blur(20px);
					-moz-filter: blur(20px);
					-o-filter: blur(20px);
					-ms-filter: blur(20px);
@media (min-width:1024px)
	body
		.global
			.header
			.content
				&-text
					&-efecto
						position relative
						width 100vw
						text-align center
						display flex
						flex-direction row
						flex-wrap wrap
						&-encima
							width 90vw
							margin 0vh 10vw
							.titulo
								font-weight bold
								font-size 30px
								margin 1rem 0
								text-transform uppercase
								color $VerdeText
							.texto
								line-height 1.6em
								padding 1rem
								color black
								font-size 23px
						&-team
							display flex
							flex-direction row
							flex-wrap wrap
							width 90vw
							margin 5vh 5vw
							&-item
								height auto
								width 18vw
								margin-top 1px
								img
									width 18vw
								&-info
									display none
					