doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no", initial-scale="1")
		link(rel="stylesheet", type="text/css", href="../css/contacto.css")
		link(rel="stylesheet", type="text/css", href="../css/font-awesome.min.css")
		title Lanza tus mejores ideas!
		
	body
		div(class="global")
			header(class="header")
				div(class="header-txt")
					img(class="header-txt-button", id="botoncito",src="../img/menuicon.png")
					img(class="header-txt-logo" src="../img/logo.png")
					div(class="header-txt-titulos")
						h1 CONTACTO
						h4 Home 
							span &#62; Contacto	
				nav
					ul(id="mimenu",class="Menu-lista")
						img(src="../img/close.png", class="cerrar", id="close")
						div(class="flex-menu")
							div
								img(src="../img/logowhite.png")
							li(class="flex-menu-item")
								a(href="../index.html", class="flex-menu-item-link") Home
							li(class="flex-menu-item")
								a(href="./services.html", class="flex-menu-item-link") Servicios
							li(class="flex-menu-item")
								a(href="./team.html", class="flex-menu-item-link") Equipo
							li(class="flex-menu-item")
								a(href="./contacto.html", class="flex-menu-item-link") Contacto
			article(id="contenedor",class="content")
				section(class="content-contactanos")
					div(class="content-contactanos-texto")
						p(class="titulo") ¿Cómo podemos ayudarte?
						p(class="texto") Como XPRESA WEB te damos todas las armas que necesitas para que tu negocio no tenga nada que envidiar a las grandes marcas y se haga de su lugar en el mercado desde un sitio web con clase y funcionalidad, hasta llevar su marca a las redes sociales por medio de una estrategia.
				section(class="content-formulario")
					div(class="content-formulario-form")
						form(class="content-formulario-form-form")
							div(class="losinput")
								input(type="text", placeholder="Nombre")
								input(type="email", placeholder="E-Mail")
								input(type="text", placeholder="Asunto")
							div(class="eltextarea")
								textarea(type="textarea", placeholder="Mensaje")
							div(class="elboton")
								button(type="button") Enviar
					div(class="content-formulario-redes")
						span E-mail
						p cuentanos@xpresaweb.com
						span Numero
						p 7190-0165
						span Social Links
						div
							a(href="https://www.facebook.com/xpresaweb/")
								i(class="fa fa-facebook")
						div
							a(href="https://twitter.com/xpresaweb")
								i(class="fa fa-twitter")
						div
							a(href="https://www.instagram.com/explore/tags/xpresaweb/")
								i(class="fa fa-instagram")
				footer
					p (+503 71900165)
					p cuentanos@xpresaweb.com
					p CopyRight XpresaWeb
					p All Right Reserver
	script(src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.6/hammer.min.js")
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-64357808-1', 'auto');
		ga('send', 'pageview');
	script.
		(function(){
		var boton = document.getElementById('botoncito');
		var menu = document.getElementById('mimenu');
		var close = document.getElementById('close');
		var hammerPanel = new Hammer(document.querySelector("#contenedor"));
		var hammerSide = new Hammer(menu);
		var classname = document.getElementsByClassName("content-especialidad-cuadros-contentcard-card");
		for (var i = 0; i < classname.length; i++) {
			classname[i].addEventListener('mouseover', function(){
			this.classList.add('active');
			}, false);
			}

		
		hammerPanel.on('swiperight', function(){
		menu.classList.toggle('active');
		document.querySelector("#contenedor").classList.toggle('active');
		});

		hammerSide.on('swipeleft', function(){		
		document.querySelector("#contenedor").classList.toggle('active');
		menu.classList.toggle('active');
		});

		boton.addEventListener('click', function(){
			menu.classList.toggle('active');
			document.querySelector("#contenedor").classList.toggle('active');
		});

		close.addEventListener('click', function(){
			menu.classList.toggle('active');
			document.querySelector("#contenedor").classList.toggle('active');
		});

		}());

		

		