doctype html
html(lang='es')
    head
        meta(charset='UTF-8')
        meta(name='viewport',content='width=device-width,user-scalable=no',initial-scale='1')
        link(rel='stylesheet',href="./css/main.css")
        title XpresaWeb
    body
        div(class="global")
            header(class="header")
                div
                    img(src="./img/menuiconhome.png",class="header-img-button",id="img-boton-menu")
                nav
                    ul(class="menu-lista",id="menu-movil")
                        img(src="./img/close.png",id="img-boton-cerrar")
                        div(class="flex-menu")
                            img(src="./img/logowhite.png")
                            li(class="flex-menu-item")
                                a(href="#",class="flex-menu-item-link") Home
                            li(class="flex-menu-item")
                                a(href="#",class="flex-menu-item-link") Servicios
                            li(class="flex-menu-item")
                                a(href="#",class="flex-menu-item-link") Equipo
                            li(class="flex-menu-item")
                                a(href="#",class="flex-menu-item-link") Contacto
            div(id="contenedor",class="contenedor")
                h1 Hola Mundo
        script(src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.6/hammer.min.js")
        script.
            (function(){
                var btn_menu = document.getElementById("img-boton-menu");
                var menu = document.getElementById("menu-movil");
                var btn_cerrar = document.getElementById("img-boton-cerrar");
                var hammer_panel = new Hammer(document.querySelector("#contenedor"));
                var hammer_side = new Hammer(menu);

                hammer_panel.on("swiperight",function(){
                    menu.classList.toggle('active');
                    btn_menu.style.display ='none';
                });

                hammer_side.on("swipeleft",function(){
                    menu.classList.toggle('active');
                    btn_menu.style.display ='inline';
                });

                btn_menu.addEventListener("click",function(){
                    menu.classList.toggle('active');
                    btn_menu.style.display='none';
                });

                btn_cerrar.addEventListener("click",function(){
                    menu.classList.toggle('active');
                    btn_menu.style.display='inline';
                });
            }());
