ul(id="mimenu",class="Menu-lista")
	img(src="./img/close.png", class="cerrar", id="close")
	div(class="flex-menu")
		div
			img(src="./img/logowhite.png")
		li(class="flex-menu-item")
			a(href="index.html", class="flex-menu-item-link") Home
		li(class="flex-menu-item")
			a(href="services.html", class="flex-menu-item-link") Servicios
		li(class="flex-menu-item")
			a(href="#", class="flex-menu-item-link") Equipo
		li(class="flex-menu-item")
			a(href="#", class="flex-menu-item-link") Contacto